In [2]:
import pandas as pd 
from sklearn.model_selection import train_test_split 
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

In [5]:
df = pd.read_csv(r'C:\Users\Nu13359Ab\ChurnClassification\Churn_Modelling.csv') 
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [6]:
## Preprocess the data 
## Drop irrelevant columns 
df = df.drop(['RowNumber', 'CustomerId', 'Surname'], axis = 1) 
df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [7]:
## Encode categorical variables 
label_encoder_gender = LabelEncoder() 
df['Gender'] = label_encoder_gender.fit_transform(df['Gender']) 
df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [8]:
## Onehot encode 'Geography' 
from sklearn.preprocessing import OneHotEncoder 
onehot_encoder_geo = OneHotEncoder()
geo_encoder = onehot_encoder_geo.fit_transform(df[['Geography']]) 
geo_encoder

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 10000 stored elements and shape (10000, 3)>

In [9]:
geo_encoder_df = pd.DataFrame(geo_encoder.toarray(), columns=onehot_encoder_geo.get_feature_names_out(['Geography'])) 
geo_encoder_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [10]:
### Combine one hot encoder columns with the original df 
df = pd.concat([df.drop('Geography', axis = 1), geo_encoder_df], axis =1 ) 
df.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [11]:
## Split the data into features and target 
X = df.drop('EstimatedSalary', axis=1) 
y = df['EstimatedSalary']

In [12]:
## Split the data in graining and testing sets 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [13]:
## Scale these features 
scaler = StandardScaler() 
X_train = scaler.fit_transform(X_train) 
X_test = scaler.transform(X_test)

In [14]:
## Save the encoders and scalerr 
with open('label_encoder_gender.pkl', 'wb') as file: 
    pickle.dump(label_encoder_gender, file) 

with open('onehot_encoder_geo.pkl', 'wb') as file: 
    pickle.dump(onehot_encoder_geo, file) 

with open('scaler.pkl', 'wb') as file: 
    pickle.dump(scaler, file)

### ANN Regression Problem Satatement

In [16]:
import tensorflow as tf 
from tensorflow.keras.models import Sequential  
from tensorflow.keras.layers import Dense

In [20]:
## Build ANN Model  
model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)), ## HL1 Connected with input layer
    Dense(32, activation='relu'),  ## HL2 
    Dense(1) ## output layer for regression 
]) 

## compile the model 
model.compile(optimizer='adam', loss='mean_absolute_error', metrics=['mae']) 

model.summary()

Model: "sequential_3"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_9 (Dense)                 │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_10 (Dense)                │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_11 (Dense)                │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [21]:
## Set Up the Tensorboard  
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime  

log_dir = "regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S") 
tensorflow_callback = TensorBoard(log_dir= log_dir, histogram_freq=1)

In [22]:
## Set up Early Stopping 
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [23]:
# Train the model 
history = model.fit(
    X_train, y_train, validation_data=(X_test, y_test), epochs=100, 
    callbacks = [tensorflow_callback, early_stopping_callback]
)

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 5s 7ms/step - loss: 100379.8516 - mae: 100379.8516 - val_loss: 98526.6250 - val_mae: 98526.6250
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 99683.2422 - mae: 99683.2422 - val_loss: 97126.2344 - val_mae: 97126.2344
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 97251.8906 - mae: 97251.8906 - val_loss: 93554.5234 - val_mae: 93554.5234
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 92438.9844 - mae: 92438.9844 - val_loss: 87465.3906 - val_mae: 87465.3906
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 85214.2969 - mae: 85214.2969 - val_loss: 79330.2734 - val_mae: 79330.2734
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 76449.5391 - mae: 76449.5391 - val_loss: 70667.7734 - val_mae: 70667.7734
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 67732.9844 - mae: 67732.9844 - val_loss: 62949.8672 - val_mae: 62949.8672
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 60524.7773 - mae: 60524.7773 - val_loss: 57146.0391 - val_mae: 57146.0391
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 55572.7734 - mae: 55572.7734 - val_loss: 53604.2266 - val_mae: 53604.2266
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 52754.7773 - mae: 52754.7773 - val_loss: 51804.5391 - val_mae: 51804.5391
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 51375.9102 - mae: 51375.9102 - val_loss: 51038.8711 - val_mae: 51038.8711
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 50722.1016 - mae: 50722.1016 - val_loss: 50752.7422 - val_mae: 50752.7422
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 50415.4336 - mae: 50415.4336 - val_loss: 50638.8828 - val_mae: 50638.8828
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 50256.6406 - mae: 50256.6406 - val_loss: 50571.6367 - val_mae: 50571.6367
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 50170.2578 - mae: 50170.2578 - val_loss: 50520.1055 - val_mae: 50520.1055
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 50102.4336 - mae: 50102.4336 - val_loss: 50476.8555 - val_mae: 50476.8555
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 50047.0312 - mae: 50047.0312 - val_loss: 50433.8398 - val_mae: 50433.8398
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 50001.2734 - mae: 50001.2734 - val_loss: 50402.0547 - val_mae: 50402.0547
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - loss: 49958.6523 - mae: 49958.6523 - val_loss: 50365.3242 - val_mae: 50365.3242
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49925.9922 - mae: 49925.9922 - val_loss: 50337.9844 - val_mae: 50337.9844
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49895.1641 - mae: 49895.1641 - val_loss: 50324.7969 - val_mae: 50324.7969
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49865.7695 - mae: 49865.7695 - val_loss: 50310.3359 - val_mae: 50310.3359
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49839.1094 - mae: 49839.1094 - val_loss: 50293.7422 - val_mae: 50293.7422
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49814.3516 - mae: 49814.3516 - val_loss: 50286.5703 - val_mae: 50286.5703
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49797.5430 - mae: 49797.5430 - val_loss: 50268.2578 - val_mae: 50268.2578
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49775.4922 - mae: 49775.4922 - val_loss: 50253.3164 - val_mae: 50253.3164
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49754.4297 - mae: 49754.4297 - val_loss: 50244.9414 - val_mae: 50244.9414
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49740.2148 - mae: 49740.2148 - val_loss: 50234.9727 - val_mae: 50234.9727
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49723.0430 - mae: 49723.0430 - val_loss: 50235.9688 - val_mae: 50235.9688
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49707.4727 - mae: 49707.4727 - val_loss: 50221.5781 - val_mae: 50221.5781
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49694.0469 - mae: 49694.0469 - val_loss: 50225.8906 - val_mae: 50225.8906
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49681.3359 - mae: 49681.3359 - val_loss: 50218.0508 - val_mae: 50218.0508
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - loss: 49668.8125 - mae: 49668.8125 - val_loss: 50202.5000 - val_mae: 50202.5000
Epoch 34/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49653.0938 - mae: 49653.0938 - val_loss: 50206.8477 - val_mae: 50206.8477
Epoch 35/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - loss: 49644.0312 - mae: 49644.0312 - val_loss: 50207.4883 - val_mae: 50207.4883
Epoch 36/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49632.6133 - mae: 49632.6133 - val_loss: 50203.4648 - val_mae: 50203.4648
Epoch 37/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - loss: 49618.3594 - mae: 49618.3594 - val_loss: 50203.4570 - val_mae: 50203.4570
Epoch 38/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49609.9141 - mae: 49609.9141 - val_loss: 50197.7148 - val_mae: 50197.7148
Epoch 39/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - loss: 49602.5430 - mae: 49602.5430 - val_loss: 50190.3633 - val_mae: 50190.3633
Epoch 40/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49590.4297 - mae: 49590.4297 - val_loss: 50191.2266 - val_mae: 50191.2266
Epoch 41/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49579.2031 - mae: 49579.2031 - val_loss: 50193.5898 - val_mae: 50193.5898
Epoch 42/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49571.8867 - mae: 49571.8867 - val_loss: 50186.7305 - val_mae: 50186.7305
Epoch 43/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49564.1953 - mae: 49564.1953 - val_loss: 50188.4688 - val_mae: 50188.4688
Epoch 44/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49551.8984 - mae: 49551.8984 - val_loss: 50184.9102 - val_mae: 50184.9102
Epoch 45/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49548.7148 - mae: 49548.7148 - val_loss: 50184.7539 - val_mae: 50184.7539
Epoch 46/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49535.4297 - mae: 49535.4297 - val_loss: 50177.0273 - val_mae: 50177.0273
Epoch 47/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49531.7305 - mae: 49531.7305 - val_loss: 50188.0156 - val_mae: 50188.0156
Epoch 48/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49521.1914 - mae: 49521.1914 - val_loss: 50188.7773 - val_mae: 50188.7773
Epoch 49/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49515.3086 - mae: 49515.3086 - val_loss: 50197.6953 - val_mae: 50197.6953
Epoch 50/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49509.4219 - mae: 49509.4219 - val_loss: 50190.3086 - val_mae: 50190.3086
Epoch 51/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49502.9531 - mae: 49502.9531 - val_loss: 50186.7148 - val_mae: 50186.7148
Epoch 52/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49496.7969 - mae: 49496.7969 - val_loss: 50200.4727 - val_mae: 50200.4727
Epoch 53/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49490.7070 - mae: 49490.7070 - val_loss: 50198.4258 - val_mae: 50198.4258
Epoch 54/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - loss: 49484.0742 - mae: 49484.0742 - val_loss: 50197.5156 - val_mae: 50197.5156
Epoch 55/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49479.2852 - mae: 49479.2852 - val_loss: 50201.4844 - val_mae: 50201.4844
Epoch 56/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49473.9102 - mae: 49473.9102 - val_loss: 50198.2891 - val_mae: 50198.2891

In [24]:
%load_ext tensorboard

In [27]:
%tensorboard --logdir regressionlogs/fit

Reusing TensorBoard on port 6006 (pid 25828), started 0:00:08 ago. (Use '!kill 25828' to kill it.)

In [28]:
## Evaluete model on the test data 
test_loss, test_mae = model.evaluate(X_test,y_test) 
print(f'Test MAE : {test_mae}')

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 50177.0273 - mae: 50177.0273
Test MAE : 50177.02734375

In [29]:
model.save('regression_model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.